<div class="d-flex align-items-center justify-content-center vh-100 custom-bg">
    <div class="card glass text-white p-4 w-100 min" style="max-width: 400px;">
        <h2 class="text-center mb-4">🪐Login</h2>

        <!-- <div class="mb-3">
            <input type="text" [(ngModel)]="username" class="form-control form-control-lg custom-input"
                placeholder="Enter your username" />
        </div> -->
        <button class="btn btn-gradient w-100" (click)="login()">Login</button>
    </div>
</div>